# Ignore IDE files
**/.idea/
**/.vscode/
**/venv/

# Ignore temporary files
**/__pycache__/
**/__private/
**.ruff_cache/
**.backup/
*.pyc
*.swp
*.bak
*_bak*.hdanc

# Ignore large binary files
*.bgeo.sc
*.tex
*.usd
*.usdc
*.vdb

# Ignore keys
env.py
