[submodule "pipeline/lib/shotgun_api3"]
	path = pipeline/lib/shotgun_api3
	url = https://github.com/shotgunsoftware/python-api.git
[submodule "pipeline/software/maya/scripts/rjg"]
	path = pipeline/software/maya/scripts/rjg
	url = https://github.com/jgashler/rjg
[submodule "pipeline/software/maya/scripts/dwpicker_git"]
	path = pipeline/software/maya/scripts/dwpicker_git
	url = https://github.com/DreamWall-Animation/dwpicker.git
[submodule "pipeline/lib/MOPS"]
	path = pipeline/lib/MOPS
	url = https://github.com/toadstorm/MOPS.git
