/production

# Ignore IDE files
**/.idea/
**/.vscode/

# Ignore temporary files
**/__pycache__/
**/__private/
**.ruff_cache/
*.pyc
*.swp
*.bak
*_bak*.hdanc

# Ignore large binary files
*.usd
*.usdc
*.vdb
*.bgeo.sc
