[submodule "pipeline/lib/shotgun_api3"]
	path = pipeline/lib/shotgun_api3
	url = https://github.com/shotgunsoftware/python-api.git
	ignore = dirty
[submodule "pipeline/software/maya/scripts/rjg"]
	path = pipeline/software/maya/scripts/rjg
	url = https://github.com/jgashler/rjg
[submodule "pipeline/software/maya/scripts/dwpicker_git"]
	path = pipeline/software/maya/scripts/dwpicker_git
	url = https://github.com/DreamWall-Animation/dwpicker.git
[submodule "pipeline/lib/MOPS"]
	path = pipeline/lib/MOPS
	url = https://github.com/toadstorm/MOPS.git
[submodule "pipeline/lib/VFX-LYNX"]
	path = pipeline/lib/VFX-LYNX
	url = https://github.com/LucaScheller/VFX-LYNX.git
[submodule "pipeline/software/nuke/tools/NukeSurvivalToolkit_publicRelease"]
	path = pipeline/software/nuke/tools/NukeSurvivalToolkit_publicRelease
	url = https://github.com/CreativeLyons/NukeSurvivalToolkit_publicRelease.git
