[submodule "pipeline/lib/shotgun_api3"]
	path = pipeline/lib/shotgun_api3
	url = https://github.com/shotgunsoftware/python-api.git
[submodule "pipeline/software/maya/scripts/rjg"]
	path = pipeline/software/maya/scripts/rjg
	url = https://github.com/jgashler/rjg
